env_modifier/__pycache__/
env_modifier/changed/
env_modifier/changed_domain_models/
env_modifier/legacy/
env_modifier/minidata/
env_modifier/minidata_output_problems/
env_modifier/minidata_output_templates/
env_modifier/original/
planner/symk/builds/